<div class="hotel-details">
  <div class="hotel-header">
    <h1 class="hotel-name">{{ hotel.name }}</h1>
    <p class="hotel-description">{{ hotel.description }}</p>
  </div>

  <div class="hotel-address">
    <h2>Address</h2>
    <p>Street: <span class="address-detail">{{ hotel.street }} {{ hotel.buildingNumber }}</span></p>
    <p>City: <span class="address-detail">{{ hotel.city }}</span></p>
    <p>Country: <span class="address-detail">{{ hotel.country }}</span></p>
    <p>Zip Code: <span class="address-detail">{{ hotel.postalCode }}</span></p>
  </div>

  <div class="hotel-rooms">
    <h2>Available Rooms</h2>
    <ul>
      @for (room of hotel.rooms; track hotel.id){
        <li class="room-item">
          <strong>{{ room.name }}:</strong> {{ room.description }}, <span class="price">${{ room.price }}</span> per night
          <button (click)="reserveRoom(room.id)" class="reserve-button">Reserve</button>
        </li>
      }
    </ul>
  </div>

  <app-reservation-dialog
    *ngIf="showReservationDialog"
    [roomId]="selectedRoomId"
    (closeDialog)="closeDialog()"
    (reserve)="handleReservation($event)">
  </app-reservation-dialog>
</div>
