<div class="hotel-list-container">
  <h1>Available Hotels</h1>

  <!-- Filter Component -->
  <app-hotel-filter (filterChanged)="onFilterChange($event)"></app-hotel-filter>

  <!-- Sorting Dropdown -->
  <div class="sorting-container">
    <label for="sortBy">Sort by: </label>
    <select [(ngModel)]="sortBy" (change)="onSortChange(sortBy)" id="sortBy">
      <option value="name">Name</option>
      <option value="rating">Rating</option>
      <option value="price">Price</option>
    </select>
  </div>


  <!-- List of Hotels -->
  @for (hotel of hotels; track hotel.id){
    <ul class="hotel-list">
      <li class="hotel-item">
        <a routerLink="/details">{{ hotel.name }}</a>
      </li>
    </ul>
  }

  <!-- Pagination Component -->
  <app-hotel-pagination
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [currentPage]="pageNumber"
    (pageChanged)="onPageChange($event)"
    (pageSizeChanged)="onPageSizeChange($event)">
  </app-hotel-pagination>
</div>
