<div class="dialog-overlay" (click)="onClose()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <h2 class="dialog-title">Project Info</h2>
    <div class="dialog-content">
      <h1>Hotel Reservation Website</h1>
      <p>Modern API developed with ASP.NET, utilizing the fundamentals of Microservices Architecture.
        API allows authorized users to book hotels, MassTransit, RabbitMQ email service notifies users of successful reservation.
        It implements Redis Cache in the MediatR pipeline to speed up queries and uses the Unit of Work pattern for atomic transactions.
        Includes Unit Tests to ensure high code quality.
        Utilizes Docker for local development and Azure for hosting</p>
    </div>
    <div class="dialog-actions">
      <button (click)="onClose()">Close</button>
    </div>
  </div>
</div>
